.fundo-escuro {
  background-color: #1abc9c;
}
.principal {
  display: flex;
  justify-content: center;
  text-align: center;
}
.principal img {
  width: 350px;
  max-width: 90%;
}
.principal h1 {
  margin: 25px 0;
}